<<<<<<< HEAD
=======
:root {
	--primary: #0d1b2a;
	--secondary: #e5e5e5;
}

>>>>>>> 7adc71e831af742df9f4555e1d1f39c271b90be2
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
