.nav {
	position: absolute;
	display: grid;
	width: 13.69vw;
	height: 100vw;
	left: 0;
	top: 0;
	background-color: var(--primary);
	color: var(--secondary);
}

.nav ul {
	grid: center;
	font-family: "Indie Flower", cursive;
}

.nav ul li {
	list-style: none;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	line-height: 120px;
	text-align: center;
}
